.header{
    display: flex;
    padding: 3px 0 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
    
    .win{
        display: flex;
        margin: 0 auto;
        
        align-items: center;
        justify-content:space-between;
        background: rgb(204,107,176);
        background: linear-gradient(90deg, rgba(204,107,176,1) 0%, rgba(244,159,222,1) 35%, rgba(194,121,183,1) 100%);
        width: 353px;
        height: 40px;
        border: 1px solid #fc99c9;
        border-radius: 20px;

        

    }
}