.section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    .section-box{
        
        display: flex;
        border: 4px purple solid;
        border-radius: 15px;
        width: 160px;
        height: 160px;
        align-items: center;
        user-select: none;
        

       
        .section-img{
            user-select: none;
            margin: 0 auto;
            border-radius: 15px;
            width: 150px;
            height: 150px;
            
        }
    }
    

}